<div class="container">
  <h2>Sign up</h2>

  <div class="form-block">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: 'form-horizontal')  do |f| %>
      <%= devise_error_messages! %>

      <div class="row">
        <div class="form-group row">
          <%= f.label :name, class: 'col-sm-2 control-label' %>
          <div class="col-sm-6">
          <%= f.text_field :name, autofocus: true,  class: 'form-control' %>
          </div>
        </div>     
      </div>

      <div class="row">
        <div class="form-group row">
          <%= f.label :avatar, class: 'col-sm-2 control-label' %>
          <div class="col-sm-6">
          <%= f.file_field :avatar, class: 'form-control' %>
          </div>
        </div>     
      </div>

      <div class="row">
        <div class="form-group row">
          <%= f.label :info, class: 'col-sm-2 control-label' %>
          <div class="col-sm-6">
          <%= f.text_area :info, class: 'form-control' %>
          </div>
        </div>     
      </div>     

      <div class="row">
        <div class="form-group row">
          <%= f.label :email, class: 'col-sm-2 control-label' %>
          <div class="col-sm-6">
          <%= f.email_field :email, class: 'form-control' %>
          </div>
        </div> 
      </div>

      <div class="row">
        <div class="form-group row">
          <%= f.label :password, class: 'col-sm-2 control-label' %>
          <div class="col-sm-6">
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
          </div>
        </div> 
      </div>

      <div class="row">
        <div class="form-group row">
          <%= f.label :password_confirmation, class: 'col-sm-2 control-label' %>
          <div class="col-sm-6">
           <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %> 
          </div>
        </div> 
      </div>
      <div class="row">
        <div class="form-group row">
          <div class="col-sm-offset-2 col-sm-1"> <%= render "devise/shared/links" %></div>     
          <div class="col-sm-5">
            <%= f.submit "Sign up", class: 'btn btn-primary' %>
          </div>
        </div> 
      </div>    
    <% end %>
   
  </div>
</div>
