<div class="container">	
	<h1>Профиль:</h1>
	<% if current_user == @user %>	
		<p><%= link_to 'Загрузить фото', new_photo_path %></p>
	<% end %>
	<div class="content">
		<div class="profile-block">			
			<div class="profile-info">
				<div class="user-avatar">
					<%= image_tag @user.avatar.url(:medium) %>
				</div>
				<div class="user-info">
					<h4><b>Мое имя:</b> <%= @user.name %></h4>
					<p><b>Мой e-mail:</b> <%= @user.email %></p>			
					<p class="descr"><b>Немного информации обо мне:</b><br> <%= @user.info %></p>
				</div>				
			</div>
		</div>
		<div class="main-column">
			<h2>Мои фотографии:</h2>
			<% @photos.each do |item| %>
				<div class="photo-block">
					<div class="photo-item">
						<div class="photo">				
							<%= image_tag item.image.url(:large) %>
						</div>
						<p><%= item.title %></p>
						<% if current_user == @user %>		
						<p class="al-right"><%= link_to "Удалить", photo_path(item), method: :delete, 
								data: {confirm: "Вы действительно хотите удалить это фото?"},
								class: "btn  btn-danger"
						%></p>
						<% end %>
					</div>					
					<% unless item.comments.empty? %>
						<div class="comments-list">			
							<h3>Комментарии: </h3>
							<% item.comments.each do |comment| %>	
								<div class="comment-item">
									<p><%= comment.content %> <span class="author">Автор комментария: <b><%= comment.user.name %></b></span></p>						
								</div>
							<% end %>
						</div>
					<% end %>
				</div>
			<% end %>
		</div>
	</div>
</div>
