<div class="container">
	<h1>Лента</h1>
	<% if user_signed_in? %>	
	<p><%= link_to 'Загрузить фото', new_photo_path %></p>
	<% end %>
	<div class="content">
		<div class="main-column">
			<% @photos.each do |item| %>
			<div class="photo-block">
				<div class="photo-item">
					<div class="photo">	
						<div class="user-photo">
							<div class="author">
								<div class="author-avatar">
									<%= image_tag item.user.avatar.url(:thumb) %>
								</div>
								<b><%= item.user.name %></b>
							</div>
							<% if user_signed_in? %>
							<% if current_user == item.user %>								
							<%= render 'shared/stats', user: item.user %>
							<% else %>
							<%= render 'shared/stats_not_current_user', user: item.user %>
							<% end %>
							<% if current_user != item.user %>
							<div id="follow_form" class="follow_form">
								<% if current_user.following?(item.user) %>
								<span>Вы подписаны на данного пользователя</span>
								<%= render 'users/unfollow', other_user: item.user %>			
								<% else %>
								<span>Вы не подписаны на данного пользователя</span>
								<%= render 'users/follow', other_user: item.user %>
								<% end %>
							</div>	
							<% end %>
							<% end %>															
						</div>										
						<%= image_tag item.image.url(:large) %>
					</div>
					<p class="photo-descr"><b>Описание к фото: </b> <%= item.title %></p>		
					<% if user_signed_in? && current_user != item.user %>
					<div>															
						<%= link_to like_photo_path(item), method: :put do %>
						Like
						<% end %>
						<%= link_to dislike_photo_path(item), method: :put do %>
						Dislile
						<% end %>
					</div>
					<% end %>
					<div class="like-result">
						<span>Понравилось: <b><%= item.get_upvotes.size %></b></span>
						<span>Не понравилось: <b><%= item.get_downvotes.size %></b></span>
					</div>						
				</div>					
				<% if user_signed_in? &&  item.user_id != current_user.id %>
				<h4>Комментировать:</h4>
				<%= render 'comments/form', photo: item %>	
				<% end %>
				<% unless item.comments.empty? %>
				<div class="comments-list">			
					<h3>Комментарии: </h3>
					<% item.comments.each do |comment| %>	
					<div class="comment-item">
						<div class="comment-photo">
							<%= image_tag comment.user.avatar.url(:thumb) %>
						</div>
						<div class="comment-cont">
							<b class="author"><%= comment.user.name %></b>
							<p><%= comment.content %></p>
							<% if user_signed_in? && current_user == item.user %>
							<p class="al-right"><%= link_to "Удалить комментарий", comment_path(comment), method: :delete, 
								data: {confirm: "Вы действительно хотите удалить этот комментарий"}
								%></p>
								<% end %>
							</div>
						</div>							
						<% end %>
					</div>
					<% end %>
				</div>
				<% end %>
				<%= paginate @photos %>
			</div>
		</div>
	</div>
		