<div class="container">
	<h1>Лента</h1>
	<% if user_signed_in? %>	
		<p><%= link_to 'Загрузить фото', new_photo_path %></p>
	<% end %>
	<div class="content">
		<div class="main-column">
			<% @photos.each do |item| %>
				<div class="photo-block">
					<div class="photo-item">
						<div class="photo">	
							<div class="user-photo">
								<div class="author">Пользователь: <b><%= item.user.name %></b></div>
								<% if user_signed_in? %>
									<%= render 'shared/stats', user: item.user %>
									<% if current_user != item.user %>
										<% if current_user.following?(item.user) %>
	    									<%= render 'users/unfollow', other_user: item.user %>
	  									<% else %>
	    									<%= render 'users/follow', other_user: item.user %>
	  									<% end %>
	  								<% end %>
								<% end %>								
							</div>										
							<%= image_tag item.image.url(:large) %>
						</div>
						<p><%= item.title %></p>
						

						<% if current_user != item.user %>
							<div>							
							    <%= link_to like_photo_path(item), method: :put do %>
								  	Like
								<% end %>
								<%= link_to dislike_photo_path(item), method: :put do %>
	  								Dislile
								<% end %>
							</div>
						<% end %>
							<div>
								Понравилось:  <%= item.get_upvotes.size %>
								Не понравилось: <%= item.get_downvotes.size %>
							</div>
						
					</div>					
					<% if user_signed_in? &&  item.user_id != current_user.id %>
						<h4>Комментировать:</h4>
						<%= render 'comments/form', photo: item %>	
					<% end %>
					<% unless item.comments.empty? %>
						<div class="comments-list">			
							<h3>Комментарии: </h3>
							<% item.comments.each do |comment| %>	
								<div class="comment-item">
									<p><%= comment.content %> <span class="author">Автор комментария: <b><%= comment.user.name %></b></span></p>						
								</div>
							<% end %>
						</div>
					<% end %>
				</div>
			<% end %>
			<%= paginate @photos %>
		</div>
	</div>
</div>
